<link rel="stylesheet" href="/css/footer.css">


<footer>
    <!-- <div id = "socialMedia">
        <div style="margin-left:10%;"></div>
        <a href="https://www.instagram.com/_najeeb.mohd_/"><span><i class="fa-brands fa-instagram"></i></span></a>
        <a href="https://www.facebook.com/najeeb.mohd.543"><span><i class="fa-brands fa-facebook-f"></i></span></a>
        <a href=""><span><i class="fa-brands fa-twitter"></i></span></a>
        <a href="https://www.linkedin.com/in/mohd-najeeb-uddin-a66629229"><span><i class="fa-brands fa-linkedin-in"></i></span></a>
        <a href="https://github.com/NajeebMohd"><span><i class="fa-brands fa-github"></i></span></a>
        <div></div>
    </div> -->




    <div id = "contacts">
        <div id = "copyRight">
            <p>
                <span><i class="fa-regular fa-copyright"></i></span>
                <span>2022</span>
                <span>Issue Tracker</span>
                <br>
                proudly built in India
            </p>
        </div>
        <div id = "About">
            <ul>
                <li style="border:none;"><a  >Contact</a></li>
                <li ><a >FAQ</a></li>
                <li ><a >About us</a></li>
            </ul>

        </div>
    </div>

</footer>