<link rel = "stylesheet" href = "/css/home.css">



<div id = "home-container">
    
    <div id = "sign-in-container">
        <h1>Login To Your Account </h1>
        <form method="post" action="/users/create-session">
            <div class="col-sm-8 col-mb-7">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="col-sm-8 col-mb-7">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            
            <button type="submit" class="btn btn-primary col-4">Submit</button>
        </form>
    </div>
    <div id = "sign-up-container">
        <h1>New Here?</h1>
        <h4>Sign up to discover your project issues</h4>
        
        <form method="get" action="/users/sign-up">
            <button type="submit" class="btn col-6 bg-white">Sign Up</button>
        </form>
    </div>

</div>