<link rel = "stylesheet" href="/css/project_details.css">


<div id = "container">
    <h1>Details Of The Project </h1>
    <div id = "project-detail">

        <h1><%= project.ProjectName%></h1>
        <p><%= project.discription %><span> (Done By)------------  <b><%= project.author %></b></span></p>
        
    </div>

    <form>
        
    </form>
</div>