#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
#form-of-project{
    height: 40%;
    width: 40%;
    
    background-color: #fbffb1;
    background-color: #fbfd86;
    /* background-color: #031e2d; */
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#project-lists{
    height: auto;
    width: 45%;
    margin-top: 5%;
}
#project-lists li:hover{
    background-color: gray;
    /* border: 1px solid rgb(241, 241, 99); */
}
#project-lists a{
    text-decoration: none;
    border-radius: 1.2rem;
}
h2{
    margin: 5px;
    text-decoration: underline;
}
