#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    
}
#form-of-project{
    height: 40%;
    width: 40%;
    /* border: 1px solid black; */
    /* background-color: #ef8633; */
}
#project-lists{
    height: auto;
    width: 45%;
    margin-top: 5%;
}
#project-lists li:hover{
    background-color: gray;
}
#project-lists a{
    text-decoration: none;
    border-radius: 1.2rem;
}
#project-list li{
    
}